.header {
  display: block;
}

.styleLogo {
  color: #1089ff;
  font-size: xx-large;
  align-items: flex-end;
}

.header-logo {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 0px;
  color: #1089ff;
  background-color: white;
}

.header-nav {
  text-align: center;
  background-color: #1089ff;
  padding: 10px;
}

.header-nav-link {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.header-nav-link:hover {
  border-bottom: 2px solid aliceblue;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .header-nav-link {
    padding: 5px;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}

@media only screen and (max-width: 400px) {
  .header-nav-link {
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}

@media only screen and (max-width: 250px) {
  .header-nav-link {
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}

